// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p#description {
    text-align: center;
    font-size: 14pt;
    color: green
}